.flex-center-items{
    display: flex;
    align-items: center;
}

.grow{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}
.grow-3{
    flex-grow: 3;
}
.grow-4{
    flex-grow: 4;
}

.margin-right-4{
    margin-right: 16px;
}