@media (max-width: 900px) 
{
    #conta, #idiomas, #separador{
        display:none
    }
    .header-container div:nth-child(3){
        flex-wrap: wrap-reverse;
    }
    .banner-container{
        background-size: cover;
    }
    .account-cart-lang{
    }
}