.banner-container{
    background: $bg-primary-color url("../imagens/Banner.png") no-repeat right;
    background-size: $bg-banner-widht $bg-banner-height;
    height: 25rem; 
    position: relative;
}

.banner{
    width: $banner-widht;
    height: $banner-height;
    margin: auto;
    @include mix-flex(center, space-between, wrap, 0);
}

.texto-banner{
    width: $box-texto-banner;
    margin-left: 0;
    color: $color-neutro;
    align-self: center;
}

