    /*Cores*/
$primary-color: #FF9F1C;
$secondary-color:#2EC4B6;

$bg-primary-color:  #011627;

$text-light-color: #7A7A7A;
$color-neutro: white;

$item-hover-color: #F2F2F2;

$unfilled-like:  #7A7A7A;
$filled-like: #FF9F1C;

    /*Fontes*/
$default-font: "Ubuntu";


/*Tamanhos*/

/*largura dos conteudos, delimitacao do header, banner etc.*/
$content-size-lg: 90%;
$content-size: 100%;

$banner-container-height: 430px;

$margin-between-containers: 25px;

/*icone*/
$height-icon: 24px;
$width-icon: 24px;

/*input pesquisa*/
$width-pesquisa-sm: 250px;
$width-pesquisa-md: 300px;
$width-pesquisa-lg: 450px;

$height-pesquisa:24px;

/*banner*/
$banner-widht: 80%; //80% do seu conteudo na largura
$banner-height: 100%;//100% da altura do seu conteudo

$bg-banner-widht: 50%;//bg- background
$bg-banner-height: 100%;

$box-texto-banner: 80%;

    /*Produtos*/
/*Prateleira*/
$widht-prateleira-container: 100%;
$height-prateleira-container: 405px;
$widht-parteleira: 82.5%;

/*items*/
$widht-items: 216px;
$widht-items-sm: 190px;

$height-items: 353px;

$border-items-size: 1.44041px;

/*botao*/
$button-radius: 5px;

$widht-buy-button: 125.28px;
$height-buy-button: 32.42px;

$widht-contact-button: 195px;
$height-contact-button: 38px;

