@import 'constantes';
*{
    margin: 0;
    padding: 0;
    font-family: $default-font ,Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
    outline-style: none;
}


@import 'mixins';
@import 'header';
@import 'utilitarios';
@import 'banner';
@import 'produtos';
@import 'propriedades-produtos';
@import 'rodape';
@import 'responsivo';

